/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap'); */


/* .App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bigWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.AMR, .Student, .College{
    height: 70px;
    width: 70px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.login-container, .amr-login-container, .student-login-container, .college-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
